.product {
	display: flex;
	flex-wrap: wrap;
}
.product-list {
	list-style: none;
}
.product-item {
	width: 300px;
	height: 450px;
	border: 1px solid #444;
	border-radius: 12px;
	padding: 15px 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.product-item img {
	width: 200px;
	border-bottom: 1px solid #444;
}
.product-item h1 {
	margin-bottom: 0px;
	margin-top: 0px;
}

.product-item span {
	font-weight: bold;
}
.product-item p {
	font-size: 18px;
}
